#logo {
}

body {
  background-color: #f0f4c3;
}

#total-orders {
  background-color: #c0ca33;
}

#orders-delivered {
  background-color: #afb42b;
}

#orders-pending {
  background-color: #9e9d24;
}
