{% extends 'accounts/main.html' %} 

{% block content %} 
<br />
<div class="card-group">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1548426590-4459d4dd2a42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div> -->
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1560461492-21ad54929ad2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div> -->
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1573871479130-668ef53585dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div> -->
  </div>
</div>


<br />

<!-- <img src="https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Girl in a jacket" >
<br /> -->
{% include 'accounts/status.html' %}

<div class="row">
  <div class="col-md-5">
    <h5>CUSTOMERS:</h5>
    <hr />
    <div class="card card-body">
      <a
        class="btn btn-primary btn-sm btn-block"
        style="background-color: #9e9d24;"
        href=""
        >Create Customer</a
      >
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Customer</th>
          <th>Phone</th>
        </tr>

        {% for customer in customers %}
        <tr>
          <td>
            <a
              class="btn btn-sm btn-info"
              href="{% url 'customer' customer.id %}"
              >View</a
            >
          </td>
          <td>{{customer.name}}</td>
          <td>{{customer.phone}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <h5>ORDERS</h5>
    <hr />
    <div class="card card-body">
      <a
        class="btn btn-primary btn-sm btn-block"
        style="background-color: #9e9d24;"
        href="{% url 'create_order' %}"
        >Create Order</a
      >
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>

        {% for order in orders %}
        <tr>
          <td>{{order.product}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.status}}</td>
          <td>
            <a
              class="btn btn-sm btn-info"
              href="{% url 'update_order' order.id %}"
              >Update</a
            >
          </td>

          <td>
            <a
              class="btn btn-sm btn-danger"
              href="{% url 'delete_order' order.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
